/a2a-env
/a2aregistry_client.py
/cdrollama.cmd - Shortcut.lnk
/cdrpippo.lst
/__pycache__
/basic_101_a2a/__pycache__
/basic_101_a2a/a2a-env
/basic_101_a2a/a2aregistry_client.py
/basic_101_a2a/cdrollama.cmd - Shortcut.lnk
/basic_101_a2a/cdrpippo.lst
/basic_101_a2a/__pycache__
